version: '3.1'
services:

  ### Nginx container #########################################

  nginx:
      image: lwl12/lfs-nginx
      container_name: nginx
      ports:
        - "80:80"
        - "443:443"
      volumes:
        - /data/wwwroot:/data/wwwroot:rw
        - /data/wwwlogs:/data/wwwlogs:rw
        - /opt/ssl:/run/secrets:ro
      restart: always
      hostname: ${Hostname}
      networks:
        - net-lfs
      environment:
        TZ: ${TZ}
      # secrets:
      #   - lwl12.com.key
      #   - cn2.network.key
      #   - lwl.moe.key
      #   - lwl12.com.cer
      #   - cn2.network.cer
      #   - lwl.moe.cer
      #   - lwl12.com_ecc.key
      #   - cn2.network_ecc.key
      #   - lwl.moe_ecc.key
      #   - lwl12.com_ecc.cer
      #   - cn2.network_ecc.cer
      #   - lwl.moe_ecc.cer
      #   - fly3949.com.key
      #   - fly3949.com.cer
      #   - fly3949.com_ecc.key
      #   - fly3949.com_ecc.cer
      #   - fly.moe.key
      #   - fly.moe.cer
      #   - fly.moe_ecc.key
      #   - fly.moe_ecc.cer
      #   - qz5z.ren.key
      #   - qz5z.ren.cer
      #   - qz5z.ren_ecc.key
      #   - qz5z.ren_ecc.cer
      #   - letsencrypt.ca.cer
      deploy:
        mode: global
      

  ### PHP container #########################################
  php:
      image: lwl12/lfs-php
      container_name: php
      volumes:
        - /data/wwwroot:/data/wwwroot:rw
        - /var/log/php:/var/log:rw
        - ./config/php/fpm/docker.conf:/usr/local/etc/php-fpm.d/docker.conf:ro
      restart: always
      networks:
        - net-lfs
      environment:
        TZ: ${TZ}
      cap_add:
        - SYS_PTRACE
      deploy:
        mode: global

  ### Mysql container #########################################

  mysql:
      image: mysql:8.0
      container_name: mysql
      volumes:
        - /data/mysql:/var/lib/mysql:rw
        - ./config/mysql/mysql.cnf:/etc/mysql/conf.d/mysql.cnf:ro
        - /var/log/mysql:/var/log/mysql:rw
      restart: always
      environment:
        TZ: ${TZ}
        MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      secrets:
        - mysql_root_password
      networks:
        - net-lfs
      deploy:
        mode: global

  ### Redis container #########################################

  redis:
      image: redis:5-alpine
      container_name: redis
      volumes:
        #- ./config/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
        - /var/log/redis:/var/log/redis:rw
      restart: always
      environment:
        TZ: ${TZ}
      networks:
        - net-lfs
      deploy:
        mode: global

secrets:
  mysql_root_password:
    file: ./mysql_root_password.txt
  # lwl12.com.key:
  #   file: /opt/ssl/lwl12.com.key
  # cn2.network.key:
  #   file: /opt/ssl/cn2.network.key
  # lwl.moe.key:
  #   file: /opt/ssl/lwl.moe.key
  # lwl12.com.cer:
  #   file: /opt/ssl/lwl12.com.cer
  # cn2.network.cer:
  #   file: /opt/ssl/cn2.network.cer
  # lwl.moe.cer:
  #   file: /opt/ssl/lwl.moe.cer
  # lwl12.com_ecc.key:
  #   file: /opt/ssl/lwl12.com_ecc.key
  # cn2.network_ecc.key:
  #   file: /opt/ssl/cn2.network_ecc.key
  # lwl.moe_ecc.key:
  #   file: /opt/ssl/lwl.moe_ecc.key
  # lwl12.com_ecc.cer:
  #   file: /opt/ssl/lwl12.com_ecc.cer
  # cn2.network_ecc.cer:
  #   file: /opt/ssl/cn2.network_ecc.cer
  # lwl.moe_ecc.cer:
  #   file: /opt/ssl/lwl.moe_ecc.cer
  # fly3949.com_ecc.cer:
  #   file: /opt/ssl/fly3949.com_ecc.cer
  # fly3949.com.cer:
  #   file: /opt/ssl/fly3949.com.cer
  # fly3949.com_ecc.key:
  #   file: /opt/ssl/fly3949.com_ecc.key
  # fly3949.com.key:
  #   file: /opt/ssl/fly3949.com.key
  # fly.moe_ecc.cer:
  #   file: /opt/ssl/fly.moe_ecc.cer
  # fly.moe.cer:
  #   file: /opt/ssl/fly.moe.cer
  # fly.moe_ecc.key:
  #   file: /opt/ssl/fly.moe_ecc.key
  # fly.moe.key:
  #   file: /opt/ssl/fly.moe.key
  # qz5z.ren_ecc.cer:
  #   file: /opt/ssl/qz5z.ren_ecc.cer
  # qz5z.ren.cer:
  #   file: /opt/ssl/qz5z.ren.cer
  # qz5z.ren_ecc.key:
  #   file: /opt/ssl/qz5z.ren_ecc.key
  # qz5z.ren.key:
  #   file: /opt/ssl/qz5z.ren.key
  # letsencrypt.ca.cer:
  #   file: /opt/ssl/letsencrypt.ca.cer

networks:
  net-lfs: